
<div id="imageStatus"></div>
<div>

	<%= form_for @product, url: {action: "create"}, :html=>{:multipart => true } do |f| %>
		<div class='pool'>
			<%= f.fields_for :pictures do |builder| %>
				<%= render 'shared/picture_fields', :f => builder %>
			<%end%>
			
		</div>
		<%= link_to_add_fields "Add More", f, :pictures %>
		<%= f.submit 'Save',class: "btn btn-primary", data: { disable_with: 'Saving...' }  %>
	<%end%>
</div>

<!-- Configure Cloudinary jQuery plugin -->
<%= cloudinary_js_config %>
